@import '../components/singleton/TheMasonryGallery/TheMasonryGallery.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none !important;
}

.selectable-area {
  position: relative;
  column-count: 3;
  column-gap: 0;
}

.selection-box {
  @apply absolute;
  @apply bg-gray-700;
  @apply bg-opacity-50;
}
